@font-face {
    font-family: 'rubik';
    src: url('./fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('./fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html, body {
    background: #d5e1ef;
    box-sizing: border-box;
    height: 100%;
    margin: 0px;
    padding: 50px;
    text-align: center;
    width: 100%;
}

/*primer parametro x segundo parametro y tercer parametro difuminado */

.card-container {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0,0,0,.1); 
    display: inline-block;
    padding: 20px;
    overflow: hidden;
    width: 230px;
}

.card-container .qr-container {
    background: #2f7dfa;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.card-container .qr-container img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(38deg) brightness(104%) contrast(101%);
    max-width: 70%;
}

.card-container h1 {
    font-family: rubik;
    font-size: 18px;
    padding: 5px;
}

.card-container p {
    color: gray;
    font-family: rubik;
    font-size: 12px;
    padding: 5px;
}

.qr-container .semi-circle-up {
    background-color: #1584fa;
    bottom: 100px;
    border-radius: 160px 160px 0 0;
    height: 160px;
    position: absolute;
    right: 0px;
    transform: rotate(120deg);
    width: 320px;
}

.qr-container .semi-circle-down {
    background-color: #1584fa;
    border-radius: 160px 160px 0 0;
    height: 160px;
    left: 0px;
    position: absolute;
    top: 190px;
    transform: rotate(270deg);
    width: 320px;
}